body {
		  font-family: Verdana, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
		  font-size: 12px; 
		  background: #ffffff;
		  color: #333; 
		  margin:0; 
		  padding:0;
		  line-height: 135%;
}

a { color: #7DC5DF; text-decoration: none; }
a:hover { text-decoration: none; color : #880000; }

img { border: none; padding: 6px; } 
img a {border:none;} 

ul { list-style-type: none; }

#page {
  width: 780px;
  margin: 0 auto;
  background: #fff;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.noshow { display: none; }
.center { text-align: center; }

#hlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

/* specific divs */

#header { 
  height: 90px;
}

#header h1 {
  font-size: 27px;
	  font-weight: 100;
		  padding: 25px 0 0 20px;
}

#header h1 a {
  color: #533882;
}

#header h1 a:hover {
  color: #111;
}

#header h2 {
  color: #666;
  font-size: 17px;
  font-weight: 100;
  padding: 7px 0 0 20px;
}

#SubTitle {
    clear: both;
    font-weight: bold;
    font-size: 150%; 
    text-align: left;
    width: 300px;
    padding: 5px 0px 5px 0px;
    border:0px solid #0f0;
}

#textbox {
   width: 780px;
   text-align: justify;
   position: relative;
   padding: 0.1em 1em 0.1em 1em;
   border:0px dashed #000;
}

#FigBox{
    padding: 5px 5px 5px 5px;
}

/* Bottom Stuff */

#footer {
  margin: 0 auto;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  color #fff;		
  height: 40px;
  line-height: 50px;
}

#footer h2 {
  color: #666;
  font-size: 17px;
  font-weight: 100;
}

#footer p { color: #fff; }
#footer a { color: #533882; text-decoration: none; }
#footer a:hover { color: #111; }

